# ============================================================
# Visual Studio IDE
# ============================================================
.vs/
*.sln.ide/
*.sln.docstates/
*.user
*.suo
*.sdf
*.opensdf
*.vcxproj.user
*.db
*.db-wal
*.db-shm

# ============================================================
# CMake
# ============================================================
CMakeUserPresets.json
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
*-cmake-run-dir/

# ============================================================
# Directorios de compilacion (build)
# ============================================================
out/
build/
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm64/
*.exe
*.exe.recipe
*.ilk
*.lib
*.obj
*.pdb
*.exp
*.dll

# ============================================================
# vcpkg
# ============================================================
vcpkg_installed/
